body {
  margin: 1% 1% 0;
  font-family: "Courier New";
  font-size: 38px;
  background: linear-gradient(#ff6000, #fcbc40);
}

header {
  position: relative;
}

.pfp {
  position: absolute;
  top: 0;
  left: 1000px;
  width: 300px;
  height: auto;
}

footer p { text-align: center; }
